@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --color-pink-light: #f8e3eb;
  --color-rose: #f15488;
  --color-rose-light: #ff7aa6;
  --color-pink-light-1: #c2a9b2;
  --color-pink-light-2: #bd9aa6;
  --color-pink-light-3: #ebb3cb;
  --color-wrose: #f8e3eb;
  --color-irose: #f2c6d5;
  --color-black: #191617;
  --color-black-full: #000000;
  --color-black-light-1: #2e2e2e;
  --color-white-full: #ffffff;
  --color-purple: #8f5bff;
  --color-wpurple: #eee8fc;
  --color-blpurple: #181619;
  --color-fire: #f15454;
  --color-orange: #ff825b;
  --color-blue-light-1: #5bd8ff;
  --color-blue-dark-1: #5e5bff;
  --swiper-pagination-bullet-horizontal-gap: 0.5rem !important;
  --marquee-elements-width: 99.9vw;
  --marquee-elements-displayed: 4;
  --marquee-element-width: calc(
    var(--marquee-elements-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s); }

@keyframes animMarquee {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(calc(-1 * var(--marquee-elements) * var(--marquee-element-width))); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: var(--color-pink-light);
  font-family: "Jost", sans-serif; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

input {
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit; }

.hidden {
  display: none !important; }

body {
  color: var(--color-black);
  font-size: 1.6rem; }

a {
  color: inherit; }

.u-section {
  width: 100%;
  height: 100vh; }

.u-container {
  width: 140rem;
  max-width: 140rem;
  margin: 0 auto; }

.u-mt-section-heading {
  position: absolute;
  margin-top: 20vh;
  z-index: 5; }

.u-mb-sm {
  margin-bottom: 4vh !important; }

.u-mb-sm-m {
  margin-bottom: 3vh !important; }

.u-mb-x-sm {
  margin-bottom: 2vh !important; }

.btn {
  color: var(--color-pink-light);
  background-color: var(--color-purple);
  border-radius: 1.5rem;
  padding: 1rem 3rem; }
  .btn-box {
    outline: none;
    border: none;
    display: inline-block; }

.header {
  padding-top: 5rem;
  background-image: linear-gradient(to right, rgba(248, 227, 235, 0.95), rgba(248, 227, 235, 0.95)), url("../img/header/bg.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr; }
  .header__nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    width: 5rem;
    transition: all 0.3s; }
    .header__logo:hover {
      transform: scale(1.25); }
  .header__list {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 8rem; }
  .header__link {
    font-weight: 500;
    transition: all 0.3s; }
    .header__link:hover {
      color: var(--color-purple); }
  .header__content {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    align-items: center; }
  .header__left {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 4rem;
    width: 100%;
    height: 100%; }
  .header__text-box {
    margin-top: -10vh; }
  .header__tag {
    display: inline-block;
    width: 22rem; }
  .header__heading {
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-black-full); }
  .header__imp {
    color: var(--color-rose);
    font-weight: 700; }
  .header__tagline {
    width: 76%;
    font-size: 1.6rem;
    letter-spacing: 5px;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 1.6; }
  .header__right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
  .header__product {
    margin-top: -10rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .header__swiper {
    width: 30vw;
    height: 60%; }
  .header__slide {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url("../img/header/slider-1.png");
    background-size: cover;
    position: relative; }
    .header__slide-text {
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: 1rem;
      color: var(--color-white-full);
      position: absolute;
      bottom: 8vh; }
  .header .swiper-button-disabled {
    color: var(--color-rose-light); }
  .header .swiper-button-next, .header .swiper-button-prev {
    color: var(--color-rose);
    font-weight: 800; }
  .header .swiper-button-next {
    position: absolute;
    right: 5rem; }
  .header .swiper-button-prev {
    position: absolute;
    left: 5rem; }
  .header .swiper-scrollbar-drag {
    background-color: var(--color-rose) !important;
    color: var(--color-rose); }
  .header__info {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .header__info:last-child {
      justify-items: end; }
    .header__info-heading {
      font-weight: 600; }
    .header__info-description {
      color: var(--color-black-light-1);
      font-weight: 400; }
    .header__info-imp {
      color: var(--color-purple);
      font-weight: 600; }
    .header__info-right {
      display: flex;
      align-items: center;
      gap: 1rem; }
    .header__info-price {
      font-size: 1.8rem; }

.showroom {
  display: grid;
  justify-items: center;
  position: relative; }
  .showroom__heading {
    width: 50vw; }
  .showroom__swiper {
    width: 100%;
    height: 100%; }
  .showroom .swiper-button-disabled {
    display: none; }
  .showroom .swiper-button-next, .showroom .swiper-button-prev {
    color: var(--color-wrose);
    font-weight: 800; }
  .showroom .swiper-button-next {
    position: absolute;
    top: 80%;
    right: 30%; }
  .showroom .swiper-button-prev {
    position: absolute;
    top: 80%;
    left: 30%; }
  .showroom__slide {
    background-image: url("../img/showroom/bg-1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    box-shadow: 0px -8px 16px 2px rgba(34, 60, 80, 0.2) inset; }
  .showroom__info {
    margin-bottom: 10vh;
    align-self: end;
    width: 30%;
    border-radius: 1.5rem;
    background-color: var(--color-rose);
    display: grid;
    justify-items: center;
    filter: drop-shadow(-5px 10px 100px rgba(25, 22, 23, 0.05)); }
    .showroom__info-heading {
      color: var(--color-white-full);
      font-size: 2.4rem;
      padding: 2rem 0; }
    .showroom__info-content {
      width: 100%;
      background-color: var(--color-wrose);
      border-radius: 1.5rem; }
    .showroom__info-description {
      margin: 2rem 4rem;
      width: 60%; }
    .showroom__info-bottom {
      margin: 2rem 4rem 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
    .showroom__info-left {
      color: var(--color-pink-light-1); }
    .showroom__info-right {
      justify-self: end;
      display: flex;
      gap: 1rem; }
    .showroom__info-imp {
      color: var(--color-rose); }
    .showroom__info-btn {
      background-color: var(--color-rose);
      padding: 0.5rem 3rem; }

.we-are {
  position: relative;
  background-image: url("../img/we-are/bg.jpg");
  display: grid;
  justify-items: center; }
  .we-are__heading {
    color: var(--color-wrose);
    position: absolute;
    font-size: 5.6rem;
    letter-spacing: 1.5rem; }
  .we-are__content {
    color: var(--color-wrose);
    display: grid;
    align-content: center; }
  .we-are__item:last-child {
    text-align: right; }
  .we-are__subheading {
    position: relative;
    font-size: 2.4rem;
    letter-spacing: 1.2px;
    margin-bottom: 4vh; }
  .we-are__item:first-child .we-are__subheading::before,
  .we-are__item:last-child .we-are__subheading::after {
    content: "";
    position: absolute;
    width: 45%;
    height: 3px;
    background-color: currentColor;
    border-radius: 1.5rem;
    bottom: -2vh; }
  .we-are__item:first-child .we-are__subheading::before {
    left: 0; }
  .we-are__item:last-child .we-are__subheading::after {
    right: 0; }
  .we-are__description {
    color: var(--color-pink-light-2);
    font-size: 1.8rem;
    letter-spacing: 1px; }
  .we-are__imp {
    color: var(--color-rose);
    font-weight: 700;
    font-size: 2rem; }

.advantages {
  background: linear-gradient(0deg, rgba(235, 209, 244, 0.5), rgba(235, 209, 244, 0.5)), linear-gradient(180deg, rgba(255, 208, 224, 0.5) 0%, rgba(217, 200, 255, 0) 100%), linear-gradient(180deg, rgba(255, 233, 240, 0.75) 0%, rgba(233, 222, 255, 0.75) 100%), url(.jpg);
  display: grid;
  grid-template-rows: max-content 1fr 1fr;
  justify-items: center;
  align-items: start; }
  .advantages__heading {
    margin-top: 10vh;
    font-size: 4rem; }
  .advantages__content {
    margin: 2vh 0 6vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10rem;
    grid-row-gap: 2rem; }
  .advantages__item {
    background-color: var(--color-wpurple);
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 28% 1fr;
    height: 18vh;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .advantages__item:nth-child(1) .advantages__left {
    background: linear-gradient(to right bottom, #f15488, #ab5aa3); }
  .advantages__item:nth-child(2) .advantages__left {
    background: linear-gradient(to right bottom, #f15454, #e34b6d); }
  .advantages__item:nth-child(3) .advantages__left {
    background: linear-gradient(to right bottom, #8f5bff, #6862f5); }
  .advantages__item:nth-child(4) .advantages__left {
    background: linear-gradient(to right bottom, #ff825b, #f57171); }
  .advantages__item:nth-child(5) .advantages__left {
    background: linear-gradient(to right bottom, #5e5bff, #2c60f3); }
  .advantages__item:nth-child(6) .advantages__left {
    background: linear-gradient(to right bottom, #5bd8ff, #57c7ec); }
  .advantages__left {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem 0 0 1.5rem;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-row-gap: 0.5rem; }
    .advantages__left-text {
      color: var(--color-white-full);
      font-weight: 700;
      font-size: 2rem; }
  .advantages__item:nth-child(1) .advantages__right {
    background: linear-gradient(to right, rgba(241, 84, 136, 0.25), rgba(238, 232, 252, 0.1)); }
  .advantages__item:nth-child(2) .advantages__right {
    background: linear-gradient(to right, rgba(241, 84, 84, 0.25), rgba(238, 232, 252, 0.1)); }
  .advantages__item:nth-child(3) .advantages__right {
    background: linear-gradient(to right, rgba(143, 91, 255, 0.25), rgba(238, 232, 252, 0.1)); }
  .advantages__item:nth-child(4) .advantages__right {
    background: linear-gradient(to right, rgba(255, 130, 91, 0.25), rgba(238, 232, 252, 0.1)); }
  .advantages__item:nth-child(5) .advantages__right {
    background: linear-gradient(to right, rgba(94, 91, 255, 0.25), rgba(238, 232, 252, 0.1)); }
  .advantages__item:nth-child(6) .advantages__right {
    background: linear-gradient(to right, rgba(91, 216, 255, 0.25), rgba(238, 232, 252, 0.1)); }
  .advantages__right {
    height: 100%;
    display: grid;
    align-content: center;
    padding: 0 2rem;
    border-radius: 0 1.5rem 1.5rem 0; }
    .advantages__right-ways {
      display: grid;
      grid-row-gap: 0.2rem;
      padding: 0.5rem 0; }
      .advantages__right-ways-text {
        font-size: 1.5rem;
        color: var(--color-black-light-1); }
    .advantages__right-imp {
      color: var(--color-black-full);
      font-weight: 700; }
  .advantages .results {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/results/bg.jpg");
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: -31px -26px 28px -5px rgba(0, 0, 0, 0.6) inset; }
    .advantages .results__note {
      position: absolute;
      font-size: 2rem;
      display: grid;
      grid-template-columns: repeat(2, max-content);
      border: 2px solid var(--color-blpurple);
      align-self: start;
      transform: translateY(-50%); }
      .advantages .results__note-left {
        background-color: var(--color-blpurple);
        color: var(--color-wpurple);
        padding: 1rem 2rem; }
      .advantages .results__note-right {
        background-color: var(--color-wpurple);
        padding: 1rem 2rem; }
    .advantages .results__list {
      display: flex;
      justify-content: space-around; }
    .advantages .results__item {
      display: flex;
      align-items: center;
      gap: 2rem; }
      .advantages .results__item-left {
        width: 6rem; }
      .advantages .results__item-value {
        font-size: 2.4rem; }
      .advantages .results__item-text {
        font-size: 1.8rem; }

.customers {
  padding-top: 10vh;
  position: relative;
  background: linear-gradient(180deg, #251a2d 0%, rgba(21, 23, 32, 0) 100%), #181619;
  text-align: center; }
  .customers__heading {
    color: var(--color-wpurple);
    font-size: 3.6rem;
    margin-bottom: 2vh; }
  .customers__imp {
    color: var(--color-rose); }
  .customers__swiper {
    border-radius: 1.5rem;
    width: 100%;
    height: 100%; }
    .customers__swiper-box {
      margin: 0 auto;
      width: 60%;
      height: 70%;
      padding: 1.5rem;
      border: 5px solid var(--color-white-full);
      border-radius: 1.5rem; }
  .customers__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .customers__swiper-controls {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .customers__swiper-controls > * {
      height: 100%; }
  .customers__swipe {
    color: var(--color-purple);
    font-size: 6.5rem;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    align-self: center;
    z-index: 20; }
    .customers__swipe-back {
      margin-left: 22vw; }
    .customers__swipe-next {
      margin-right: 22vw; }
  .customers .swiper-pagination {
    bottom: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center; }
    .customers .swiper-pagination-bullet {
      transform: translateY(50%);
      width: 1.5rem;
      height: 1.5rem; }
      .customers .swiper-pagination-bullet-active {
        background-color: var(--color-purple); }
  .customers .swiper-button-disabled {
    opacity: 0;
    visibility: hidden; }

.cta {
  display: grid;
  grid-template-rows: 10% 1fr; }
  .cta .brands {
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, rgba(197, 182, 232, 0.5) 0%, rgba(242, 198, 213, 0.5) 100%), #8f5bff; }
    .cta .brands__heading {
      font-size: 4rem;
      color: var(--color-wpurple);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1; }
    .cta .brands__list {
      height: 100%;
      display: flex;
      align-items: center;
      animation: animMarquee var(--marquee-animation-duration) linear infinite; }
    .cta .brands__item {
      width: var(--marquee-element-width);
      font-size: 5rem;
      display: grid;
      justify-items: center;
      flex-shrink: 0; }
      .cta .brands__item i {
        width: 4rem;
        color: rgba(0, 0, 0, 0.5); }
  .cta__wrapper {
    background-image: url("../img/cta/bg.jpg");
    background-size: cover; }
  .cta__content {
    height: 100%;
    display: grid;
    align-content: center; }
  .cta__heading {
    font-size: 6rem;
    margin-bottom: 1vh; }
  .cta__form {
    font-size: 1.6rem; }
    .cta__form label {
      z-index: 1;
      letter-spacing: 1px; }
    .cta__form input {
      padding: 1.5rem;
      background-color: var(--color-pink-light-3);
      border-radius: 1.5rem;
      padding-left: 2rem;
      transition: all 0.3s;
      font-weight: 300; }
      .cta__form input:focus {
        box-shadow: 0 0 1rem 1rem rgba(143, 91, 255, 0.25);
        color: #8f5bff; }
    .cta__form-field {
      width: 30%;
      display: grid;
      grid-row-gap: 0.5rem;
      margin-bottom: 1.6vh; }
      .cta__form-field:last-child {
        margin-bottom: 4vh; }
      .cta__form-field input {
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12); }
      .cta__form-field label {
        font-weight: 500; }
    .cta__form-opt {
      cursor: pointer; }
    .cta__form-imp {
      color: var(--color-purple); }
    .cta__form-item {
      display: flex;
      align-items: center; }
      .cta__form-item:not(:last-child) {
        margin-bottom: 0.5vh; }
      .cta__form-item-custom label {
        color: var(--color-purple); }
    .cta__form-checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      border-radius: 1.5rem;
      margin-right: 0.8rem; }
      .cta__form-checkbox-custom {
        border: 3px solid var(--color-purple); }
      .cta__form-checkbox-agree {
        border: 3px solid var(--color-black); }
    .cta__form-custom:checked + .cta__form-checkbox-custom {
      background-color: var(--color-purple); }
    .cta__form-agree:checked + .cta__form-checkbox-agree {
      background-color: var(--color-black); }
    .cta__form-btn {
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 1px; }

.footer {
  background-color: var(--color-blpurple); }
  .footer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10vh 0; }
  .footer__item {
    display: grid;
    align-content: start;
    grid-row-gap: 2vh;
    color: var(--color-wpurple); }
    .footer__item-heading {
      font-size: 2.6rem;
      color: var(--color-rose); }
    .footer__item-list {
      font-size: 1.8rem;
      display: grid;
      grid-row-gap: 1rem; }
      .footer__item-list-navigation {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-column-gap: 4rem; }
      .footer__item-list-contacts {
        display: inline-block; }
    .footer__item-wrapper {
      display: flex;
      gap: 1.2rem; }
      .footer__item-wrapper:hover {
        color: var(--color-rose-light); }
    .footer__item-el {
      display: flex; }
      .footer__item-el a {
        display: inline-block; }
    .footer__item--link:hover {
      color: var(--color-rose-light); }
  .footer__copyright-box {
    display: grid;
    justify-items: center;
    padding: 4vh 0;
    color: var(--color-wrose);
    background-color: var(--color-black-full); }
    .footer__copyright-box--heading {
      font-size: 2rem; }
    .footer__copyright-box--text {
      font-size: 1.6rem; }
