:root {
  --color-pink-light: #f8e3eb;
  --color-rose: #f15488;
  --color-rose-light: #ff7aa6;
  --color-pink-light-1: #c2a9b2;
  --color-pink-light-2: #bd9aa6;
  --color-wrose: #f8e3eb;
  --color-irose: #f2c6d5;
  --color-black: #191617;
  --color-black-full: #000000;
  --color-black-light-1: #2e2e2e;
  --color-white-full: #ffffff;
  --color-purple: #8f5bff;
  --color-wpurple: #eee8fc;
  --color-blpurple: #181619;
  --color-fire: #f15454;
  --color-orange: #ff825b;
  --color-blue-light-1: #5bd8ff;
  --color-blue-dark-1: #5e5bff;

  --swiper-pagination-bullet-horizontal-gap: 0.5rem !important;
}

$border-radius: 1.5rem;
$mt-section-heading: 20vh;

$color-rose: #f15488;
$color-rose-gradient: #ab5aa3;
$color-purple: #8f5bff;
$color-purple-gradient: #6862f5;
$color-blue-dark-1: #5e5bff;
$color-blue-dark-1-gradient: #2c60f3;
$color-fire: #f15454;
$color-fire-gradient: #e34b6d;
$color-orange: #ff825b;
$color-orange-gradient: #f57171;
$color-blue-light-1: #5bd8ff;
$color-blue-light-1-gradient: #57c7ec;
$color-wpurple: #eee8fc;
