:root {
  --color-pink-light: #f8e3eb;
  --color-rose: #f15488;
  --color-rose-light: #ff7aa6;
  --color-irose: #f2c6d5;
  --color-black: #191617;
  --color-black-full: #000000;
  --color-black-light-1: #2e2e2e;
  --color-white-full: #ffffff;
  --color-purple: #8f5bff;
}

$border-radius: 1.5rem;
