.btn {
  color: var(--color-pink-light);
  background-color: var(--color-purple);
  border-radius: $border-radius;
  padding: 1rem 3rem;

  &-box {
    outline: none;
    border: none;
    display: inline-block;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
