.header {
  padding-top: 10rem;
  // background: linear-gradient(
  //     to right,
  //     rgba(var(--color-black), 0.1),
  //     rgba(var(--color-black), 0.1)
  //   ),
  //   url("../img/header/bg.jpg");
  background-image: linear-gradient(
      to right,
      rgba(#f8e3eb, 0.95),
      rgba(#f8e3eb, 0.95)
    ),
    url("../img/header/bg.jpg");
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;

  &__nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 5rem;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.25);
    }
  }
  &__img {
  }
  &__list {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 8rem;
  }
  &__item {
  }
  &__link {
    font-weight: 500;
    transition: all 0.3s;

    &:hover {
      color: var(--color-purple);
    }
  }
  &__content {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }
  &__left {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 4rem;
    width: 100%;
    height: 100%;
  }
  &__text-box {
    margin-top: -10vh;
  }
  &__tag {
    display: inline-block;
    width: 22rem;
  }
  &__heading {
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-black-full);
  }
  &__imp {
    color: var(--color-rose);
    font-weight: 700;
  }
  &__tagline {
    width: 76%;
    font-size: 1.6rem;
    letter-spacing: 5px;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 1.6;
  }
  &__right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__product {
    margin-top: -10rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__swiper {
    width: 30vw;
    height: 60%;
  }
  &__wrapper {
  }
  &__slide {
    position: relative;
    display: flex;
    justify-content: center;
    // width: 100%;
    // height: 100%;
    background-image: url("../img/header/slider-1.png");
    background-size: cover;
    position: relative;

    &-text {
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: 1rem;
      color: var(--color-white-full);
      position: absolute;
      bottom: 8vh;
    }
  }
  .swiper-button {
    &-disabled {
      color: var(--color-rose-light);
    }
    &-next,
    &-prev {
      color: var(--color-rose);
      font-weight: 800;
    }
    &-next {
      position: absolute;
      right: 5rem;
    }
    &-prev {
      position: absolute;
      left: 5rem;
    }
  }
  .swiper-scrollbar {
    // background-color: var(--color-irose);
    &-drag {
      background-color: var(--color-rose) !important;
      color: var(--color-rose);
    }
  }

  &__info {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &:last-child {
      justify-items: end;
    }

    &-left {
    }
    &-heading {
      font-weight: 600;
    }
    &-description {
      color: var(--color-black-light-1);
      font-weight: 400;
    }
    &-imp {
      color: var(--color-purple);
      font-weight: 600;
    }

    &-right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    &-price {
      font-size: 1.8rem;
    }
    &-btn {
      &-box {
      }
    }
  }
}
.showroom {
  display: grid;
  justify-items: center;
  position: relative;
  &__heading {
    width: 50vw;
    position: absolute;
    top: 20vh;
    z-index: 5;

    &--img {
    }
  }
  &__swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-button {
    &-disabled {
      display: none;
    }
    &-next,
    &-prev {
      color: var(--color-wrose);
      font-weight: 800;
    }
    &-next {
      position: absolute;
      top: 80%;
      right: 30%;
    }
    &-prev {
      position: absolute;
      top: 80%;
      left: 30%;
    }
  }
  &__wrapper {
  }
  &__slide {
    background-image: url("../img/showroom/bg-1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;

    // box-shadow: -8px -6px 10px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: -6px -18px 14px 3px rgba(0, 0, 0, 0.6) inset;

    // filter: drop-shadow(-5px 10px 100px rgba(25, 22, 23, 0.05));
  }

  &__info {
    margin-bottom: 10vh;
    align-self: end;
    width: 30%;
    border-radius: $border-radius;
    background-color: var(--color-rose);
    display: grid;
    justify-items: center;

    filter: drop-shadow(-5px 10px 100px rgba(25, 22, 23, 0.05));

    &-heading {
      color: var(--color-white-full);
      font-size: 2.4rem;
      padding: 2rem 0;
    }
    &-content {
      width: 100%;
      background-color: var(--color-wrose);
      border-radius: $border-radius;
    }
    &-description {
      margin: 2rem 4rem;
      width: 60%;
    }
    &-bottom {
      margin: 2rem 4rem 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &-left {
      color: var(--color-pink-light-1);
    }
    &-right {
      justify-self: end;
      display: flex;
      gap: 1rem;
    }
    &-price {
    }
    &-imp {
      color: var(--color-rose);
    }
    &-btn {
      background-color: var(--color-rose);
      padding: 0.5rem 3rem;
      &-box {
      }
    }
  }
}
