.header {
  padding-top: 10rem;
  // background: linear-gradient(
  //     to right,
  //     rgba(var(--color-black), 0.1),
  //     rgba(var(--color-black), 0.1)
  //   ),
  //   url("../img/header/bg.jpg");
  background-image: linear-gradient(
      to right,
      rgba(#f8e3eb, 0.95),
      rgba(#f8e3eb, 0.95)
    ),
    url("../img/header/bg.jpg");
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;

  &__nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 5rem;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.25);
    }
  }
  &__img {
  }
  &__list {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 8rem;
  }
  &__item {
  }
  &__link {
    font-weight: 500;
    transition: all 0.3s;

    &:hover {
      color: var(--color-purple);
    }
  }
  &__content {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }
  &__left {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 4rem;
    width: 100%;
    height: 100%;
  }
  &__text-box {
    margin-top: -10vh;
  }
  &__tag {
    display: inline-block;
    width: 22rem;
  }
  &__heading {
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-black-full);
  }
  &__imp {
    color: var(--color-rose);
    font-weight: 700;
  }
  &__tagline {
    width: 76%;
    font-size: 1.6rem;
    letter-spacing: 5px;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 1.6;
  }
  &__right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__product {
    margin-top: -10rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__swiper {
    width: 30vw;
    height: 60%;
  }
  &__wrapper {
  }
  &__slide {
    position: relative;
    display: flex;
    justify-content: center;
    // width: 100%;
    // height: 100%;
    background-image: url("../img/header/slider-1.png");
    background-size: cover;
    position: relative;

    &-text {
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: 1rem;
      color: var(--color-white-full);
      position: absolute;
      bottom: 8vh;
    }
  }
  .swiper-button {
    &-disabled {
      color: var(--color-rose-light);
    }
    &-next,
    &-prev {
      color: var(--color-rose);
      font-weight: 800;
    }
    &-next {
      position: absolute;
      right: 5rem;
    }
    &-prev {
      position: absolute;
      left: 5rem;
    }
  }
  .swiper-scrollbar {
    // background-color: var(--color-irose);
    &-drag {
      background-color: var(--color-rose) !important;
      color: var(--color-rose);
    }
  }

  &__info {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &:last-child {
      justify-items: end;
    }

    &-left {
    }
    &-heading {
      font-weight: 600;
    }
    &-description {
      color: var(--color-black-light-1);
      font-weight: 400;
    }
    &-imp {
      color: var(--color-purple);
      font-weight: 600;
    }

    &-right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    &-price {
      font-size: 1.8rem;
    }
    &-btn {
      &-box {
      }
    }
  }
}
.showroom {
  display: grid;
  justify-items: center;
  position: relative;
  &__heading {
    width: 50vw;

    &--img {
    }
  }
  &__swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-button {
    &-disabled {
      display: none;
    }
    &-next,
    &-prev {
      color: var(--color-wrose);
      font-weight: 800;
    }
    &-next {
      position: absolute;
      top: 80%;
      right: 30%;
    }
    &-prev {
      position: absolute;
      top: 80%;
      left: 30%;
    }
  }
  &__wrapper {
  }
  &__slide {
    background-image: url("../img/showroom/bg-1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;

    // box-shadow: -8px -6px 10px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: -6px -18px 14px 3px rgba(0, 0, 0, 0.6) inset;

    // filter: drop-shadow(-5px 10px 100px rgba(25, 22, 23, 0.05));
  }

  &__info {
    margin-bottom: 10vh;
    align-self: end;
    width: 30%;
    border-radius: $border-radius;
    background-color: var(--color-rose);
    display: grid;
    justify-items: center;

    filter: drop-shadow(-5px 10px 100px rgba(25, 22, 23, 0.05));

    &-heading {
      color: var(--color-white-full);
      font-size: 2.4rem;
      padding: 2rem 0;
    }
    &-content {
      width: 100%;
      background-color: var(--color-wrose);
      border-radius: $border-radius;
    }
    &-description {
      margin: 2rem 4rem;
      width: 60%;
    }
    &-bottom {
      margin: 2rem 4rem 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &-left {
      color: var(--color-pink-light-1);
    }
    &-right {
      justify-self: end;
      display: flex;
      gap: 1rem;
    }
    &-price {
    }
    &-imp {
      color: var(--color-rose);
    }
    &-btn {
      background-color: var(--color-rose);
      padding: 0.5rem 3rem;
      &-box {
      }
    }
  }
}
.we-are {
  position: relative;
  background-image: url("../img/we-are/bg.jpg");
  display: grid;
  justify-items: center;

  &__heading {
    color: var(--color-wrose);
    position: absolute;
    font-size: 5.6rem;
    letter-spacing: 1.5rem;
    // letter-spacing: 2rem;
  }
  &__content {
    color: var(--color-wrose);
    display: grid;
    align-content: center;
  }
  &__item {
    &:last-child {
      text-align: right;
    }
  }
  &__subheading {
    position: relative;
    font-size: 2.4rem;
    letter-spacing: 1.2px;
    margin-bottom: 4vh;
  }
  &__item:first-child &__subheading::before,
  &__item:last-child &__subheading::after {
    content: "";
    position: absolute;
    width: 45%;
    height: 3px;
    background-color: currentColor;
    border-radius: $border-radius;
    bottom: -2vh;
  }
  &__item:first-child &__subheading::before {
    left: 0;
  }
  &__item:last-child &__subheading::after {
    right: 0;
  }
  &__description {
    color: var(--color-pink-light-2);
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  &__imp {
    color: var(--color-rose);
    font-weight: 700;
    font-size: 2rem;
  }
}
.advantages {
  background: linear-gradient(
      0deg,
      rgba(235, 209, 244, 0.5),
      rgba(235, 209, 244, 0.5)
    ),
    linear-gradient(
      180deg,
      rgba(255, 208, 224, 0.5) 0%,
      rgba(217, 200, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 233, 240, 0.75) 0%,
      rgba(233, 222, 255, 0.75) 100%
    ),
    url(.jpg);
  display: grid;
  grid-template-rows: max-content 1fr 1fr;
  justify-items: center;
  align-items: start;

  &__heading {
    margin-top: 10vh;
    font-size: 4rem;
  }
  &__content {
    margin: 2vh 0 6vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10rem;
    grid-row-gap: 2rem;
  }
  &__item {
    background-color: var(--color-wpurple);
    border-radius: $border-radius;
    display: grid;
    grid-template-columns: 28% 1fr;
    height: 18vh;
    box-shadow: 0 1rem 2rem rgba(#000, 0.15);
  }
  &__item:nth-child(1) &__left {
    // background-color: var(--color-rose);
    background: linear-gradient(
      to right bottom,
      $color-rose,
      $color-rose-gradient
    );
  }
  &__item:nth-child(2) &__left {
    // background-color: var(--color-fire);
    background: linear-gradient(
      to right bottom,
      $color-fire,
      $color-fire-gradient
    );
  }
  &__item:nth-child(3) &__left {
    // background-color: var(--color-purple);
    background: linear-gradient(
      to right bottom,
      $color-purple,
      $color-purple-gradient
    );
  }
  &__item:nth-child(4) &__left {
    // background-color: var(--color-orange);
    background: linear-gradient(
      to right bottom,
      $color-orange,
      $color-orange-gradient
    );
  }
  &__item:nth-child(5) &__left {
    // background-color: var(--color-blue-dark-1);
    background: linear-gradient(
      to right bottom,
      $color-blue-dark-1,
      $color-blue-dark-1-gradient
    );
  }
  &__item:nth-child(6) &__left {
    // background-color: var(--color-blue-light-1);
    background: linear-gradient(
      to right bottom,
      $color-blue-light-1,
      $color-blue-light-1-gradient
    );
  }
  &__left {
    width: 100%;
    height: 100%;
    border-radius: $border-radius 0 0 $border-radius;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-row-gap: 0.5rem;

    &-text {
      color: var(--color-white-full);
      font-weight: 700;
      font-size: 2rem;
    }
  }

  &__item:nth-child(1) &__right {
    background: linear-gradient(
      to right,
      rgba($color-rose, 0.25),
      rgba($color-wpurple, 0.1)
    );
  }
  &__item:nth-child(2) &__right {
    background: linear-gradient(
      to right,
      rgba($color-fire, 0.25),
      rgba($color-wpurple, 0.1)
    );
  }
  &__item:nth-child(3) &__right {
    background: linear-gradient(
      to right,
      rgba($color-purple, 0.25),
      rgba($color-wpurple, 0.1)
    );
  }
  &__item:nth-child(4) &__right {
    background: linear-gradient(
      to right,
      rgba($color-orange, 0.25),
      rgba($color-wpurple, 0.1)
    );
  }
  &__item:nth-child(5) &__right {
    background: linear-gradient(
      to right,
      rgba($color-blue-dark-1, 0.25),
      rgba($color-wpurple, 0.1)
    );
  }
  &__item:nth-child(6) &__right {
    background: linear-gradient(
      to right,
      rgba($color-blue-light-1, 0.25),
      rgba($color-wpurple, 0.1)
    );
  }

  &__right {
    height: 100%;
    // padding: 0 2rem;
    // align-self: center;
    display: grid;
    align-content: center;
    padding: 0 2rem;
    border-radius: 0 $border-radius $border-radius 0;

    &-description {
    }
    &-ways {
      display: grid;
      grid-row-gap: 0.2rem;
      padding: 0.5rem 0;
      // grid-template-columns: repeat(2, 1fr);
      &-text {
        font-size: 1.5rem;
        color: var(--color-black-light-1);
      }
    }
    &-author {
    }
    &-imp {
      color: var(--color-black-full);
      font-weight: 700;
    }
  }

  .results {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../../img/results/bg.jpg");
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: -31px -26px 28px -5px rgba(0, 0, 0, 0.6) inset;

    &__note {
      position: absolute;
      font-size: 2rem;
      display: grid;
      grid-template-columns: repeat(2, max-content);
      border: 2px solid var(--color-blpurple);
      // justify-content: center;
      align-self: start;
      transform: translateY(-50%);

      &-left {
        background-color: var(--color-blpurple);
        color: var(--color-wpurple);
        padding: 1rem 2rem;
      }
      &-right {
        background-color: var(--color-wpurple);
        padding: 1rem 2rem;
      }
    }

    &__list {
      // display: grid;
      // grid-template-columns: repeat(4, 1fr);
      display: flex;
      justify-content: space-around;
    }
    &__item {
      display: flex;
      align-items: center;
      gap: 2rem;

      &-left {
        width: 6rem;
      }
      &-icon {
      }
      &-right {
        // display: grid;
        // align-content: center;
      }
      &-value {
        font-size: 2.4rem;
      }
      &-text {
        font-size: 1.8rem;
      }
    }
  }
}
